build*
*.o

exemples_cours/menu1/prog

exemples_cours/menu2/prog

exemples_cours/menu3/prog

Pacman/.qmake.stash
*.exe
moc_*
*.layout
*.user*

Pacman/bin/pacman_sdl

Pacman/bin/pacman_txt

Pacman/pacman_qt

Pacman/Makefile

exemples_cours/pointeur_f/.vscode/ipch/3683daeaeb26409c/

SDL2_exemple/a.out

SDL2_exemple/simple
