build*
*.o

exemples_cours/menu1/prog

exemples_cours/menu2/prog

exemples_cours/menu3/prog

.vscode
Pacman/.qmake.stash
*.exe
moc_*
*.layout
*.user*

Pacman/bin/pacman_sdl

Pacman/bin/pacman_txt

Pacman/pacman_qt

Pacman/Makefile
